<html>
  <head><meta charset="utf-8"/><link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet"></head>
  <body style="font-family: 'Open Sans', sans-serif;">
    Liz,<br/><br/>In {{ month }}, Bryan paid the following bills. See the table below for your share:
    <table style="border-spacing: 0; padding: 1em 0; min-width: 360px">
      <thead style="background-color: #666; color: #fff;">
        <tr><td style="padding: 0.5em 1em; word-break: keep-all; text-align: center;">Description</td><td style="padding: 0.5em 1em; word-break: keep-all; text-align: center;">Total</td><td style="padding: 0.5em 1em; word-break: keep-all; text-align: center;">You Owe</td></tr>
      </thead><tbody>
        {% for transaction in transactions %}
          {% if loop.index %2 == 0 %}
            <tr>
              <td style="padding: 0.5em 1em; background-color: #f8f8f8; word-break: keep-all; text-align: center;">{{ transaction['description'] }}</td>
              <td style="padding: 0.5em 1em; background-color: #f8f8f8; word-break: keep-all; text-align: center;">${{ transaction['total_amount'] }}</td>
              <td style="padding: 0.5em 1em; background-color: #f8f8f8; word-break: keep-all; text-align: center;">${{ transaction['amount_owed'] }}</td>
            </tr>{% else %}<tr>
              <td style="padding: 0.5em 1em; background-color: #fcfcfc; word-break: keep-all; text-align: center;">{{ transaction['description'] }}</td>
              <td style="padding: 0.5em 1em; background-color: #fcfcfc; word-break: keep-all; text-align: center;">${{ transaction['total_amount'] }}</td>
              <td style="padding: 0.5em 1em; background-color: #fcfcfc; word-break: keep-all; text-align: center;">${{ transaction['amount_owed'] }}</td>
            </tr>
          {% endif %}
        {% endfor %}
        {% if transactions|length %2 == 0 %}
        <tr>
          <td style="padding: 0.5em 1em; background-color: #fcfcfc; word-break: keep-all; text-align: center;"><b>Total</b></td>
          <td style="padding: 0.5em 1em; background-color: #fcfcfc; word-break: keep-all; text-align: center;"><b>${{ total_amount }}</b></td>
          <td style="padding: 0.5em 1em; background-color: #fcfcfc; word-break: keep-all; text-align: center;"><b>${{ amount_owed }}</b></td>
        </tr> {% else %} <tr>
          <td style="padding: 0.5em 1em; background-color: #f8f8f8; word-break: keep-all; text-align: center;"><b>Total</b></td>
          <td style="padding: 0.5em 1em; background-color: #f8f8f8; word-break: keep-all; text-align: center;"><b>${{ total_amount }}</b></td>
          <td style="padding: 0.5em 1em; background-color: #f8f8f8; word-break: keep-all; text-align: center;"><b>${{ amount_owed }}</b></td>
        </tr>
        {% endif %}
    </tbody>
    </table>
    Love,<br/>Bryan
  </body>
</html>